/* #region -- RESET CSS */
/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
    list-style: none;
}

/* Set core root defaults */
html:focus-within {
    scroll-behavior: smooth;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

/* #endregion */

/* #region -- VARIABLES */
:root {
    --primary-color: rgb(243, 160, 35);
    --secondary-color: rgb(0, 0, 0);
    --tertiary-color: rgb(235, 235, 235);

    --shadow:  0px 0px 7px 1px rgba(0,0,0,0.2);
}

/* #endregion */

/* #region -- BASE ELEMENT */
body {
    font-family: "Poppins", sans-serif;
    display: flex;
    flex-direction: column;
}

nav {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0px 20%;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: white;
}

nav button{
    width: 100%;
    padding-top: 10px;
}

content {
    height: 100%;
    text-align: center;
    padding: 1em;
}

input {
    color: var(--secondary-color);
    background-color: var(--tertiary-color);
    width: 100%;
    border: none;
    border-bottom: 1px solid var(--primary-color);
    margin-bottom: 5px;
    padding: 10px 15px;
}

textarea {
    color: var(--secondary-color);
    background-color: var(--tertiary-color);
    border: none;
    border-bottom: 1px solid var(--primary-color);
    width: 100%;
    margin-bottom: 5px;
    padding: 10px 15px;
    min-height: 150px;
}

body .hidden{
   display: none;
}
/* #endregion */

/* #region -- NAV */
.tab{
    background-color: transparent;
    border: none;
    border-bottom: 2px solid var(--secondary-color);
    color: var(--secondary-color);
    outline: none;
}

.tab:hover{
    cursor: pointer;
}

.active{
    border-bottom: 3px solid var(--primary-color);
    color: var(--primary-color);
    font-weight: bold;
    background-color: transparent;
}
/* #endregion */

/* #region -- CONTENT */
.tabContent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.animated {
    animation-name: fadeOutRight;
    animation-duration: 1s;
}

@keyframes fadeOutRight {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.project{
    gap: 1em;
}

.cardWrapper{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    gap: 1em;
}

.projectCard{
    border-radius: 5px;
    backdrop-filter: blur(4px);
    box-shadow: var(--shadow);
}

.projectCard > div:hover{
    cursor: pointer;
}

.projectCard img{
    object-fit: cover;
    object-position: top;
    max-height: 15em;
    width: 100%;
    padding: 5px;
    border-radius: 10px;
}

.projectCard span{
    font-style: italic;
}

.me{
    gap: 0.5em;
}
/* #endregion */

/* #region -- FORM */
.form {
    align-items: center;
    width: 100%;
    max-width: 500px;
}

.buttonForm {
    border: none;
    border-bottom: 1px solid var(--primary-color);
    cursor: pointer;
    background-color: rgb(255, 255, 255, 0);
}
/* #endregion */

/* #region -- MEDIA QUERIES */
@media (max-width: 1000px){
    .cardWrapper{
        grid-template-columns: none;
    }

    nav {
        padding: 0px 2%;
    }

    .projectCard img{
        max-height: 10em;
    }
} 

/* #endregion */