.tabs {
    font-family: 'Poppins',sans-serif;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    text-align: center;
}

.navbar {
    display: flex;
    width: 100%;
}

.siteTitle {
  width: 20%;
  display: flex;
  justify-content: left;
}

.buttonTabs {
  width: 60%;
  display: flex;
  justify-content: center;
}

.tab-btn {
  background-color: rgb(255, 255, 255, 0);
  border: none;
  border-bottom: 2px solid rgb(0, 0, 0);
  color: rgb(0, 0, 0);
  cursor: pointer;
  padding: 10px 0;
  margin: 10px 0;
  outline: none;
  width: 20%;
}

.tab-btn-active {
  border-bottom: 3px solid rgb(243, 160, 35);
  color: rgb(243, 160, 35);
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0)
}

.linkIcons {
  width: 20%;
  display: flex;
  justify-content: right;
  align-items: center;
}

.linkIcons .fa {
  color: rgb(0, 0, 0);
  font-size: 32px;
  margin: 5px;
}

.animated {
  animation-name: fadeOutRight;
  animation-duration: 1s;
}

@keyframes fadeOutRight {
  0% {
     opacity: 0;
     transform: translateY(-20px);
  }
  100% {
     opacity: 1;
     transform: translateY(0);
  }
} 

.form {
  align-items: center;
  min-width: 500px;
}

input {
  font-family: 'Poppins',sans-serif;
  color: rgb(0, 0, 0);
  background-color: rgb(235, 235, 235);
  width: 100%;
  border: none;
  border-bottom: 1px solid rgb(243, 160, 35);
  margin-bottom: 5px;
  padding: 10px 15px;
}

textarea {
  font-family: 'Poppins',sans-serif;
  color: rgb(0, 0, 0);
  background-color: rgb(235, 235, 235);
  border: none;
  border-bottom: 1px solid rgb(243, 160, 35);
  width: 100%;
  margin-bottom: 5px;
  padding: 10px 15px;
  min-height: 150px;
}

.buttonForm {
  font-family: 'Poppins',sans-serif;
  border: none;
  border-bottom: 1px solid rgb(243, 160, 35);
  cursor: pointer;
  background-color: rgb(255, 255, 255, 0);
}
